*
{
    font-family: sans-serif;
    margin: 0;
}
body
{
    margin: 10px;
}
img
{
    margin: 10px;
    border-radius: 60%;
    display: inline-block;
}
h1
{
    display: flex;

}
a
{
    text-decoration: none;
    font-size: 3vh;
    color: black;
    justify-content: center;
    text-align: center;
    align-items: center;

}
a:hover
{
    color: blue;
}
.container
{
    background-color: aqua;
    width: 550px;
    height: 30px;
    text-align: center;
    flex: right;
    align-items: center;
    margin: 20px 0 20px 0;
    justify-content: center;
}
